POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=horror_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SUPABASE_PROJECT = [PROJET SUPABASE]
SUPABASE_PUBLISHABLE_KEY=[SUPABASE PUBLISHABLE KEY]
SUPABASE_PASSWORD=[MOT DE PASSE]
SUPABASE_DB=postgres
SUPABASE_PORT=6543
SUPABASE_USER=postgres.[PROJET SUPABASE] 
SUPABASE_HOST=aws-1-eu-west-3.pooler.supabase.com

# ─── Ollama ───────────────────────────────────────────────────────────────────
# En local : http://localhost:11434
# En Docker : http://ollama:11434 (injecté automatiquement par docker-compose)
OLLAMA_BASE_URL=http://ollama:11434

# ─── FAISS (chemins dans le container) ───────────────────────────────────────
FAISS_INDEX_PATH=/app/faiss_data/horragor.index
FAISS_MAPPING_PATH=/app/faiss_data/horragor_mapping.json

# ─── Modèles Ollama déjà téléchargés ─────────────────────────────────────────
# Chemin local vers le dossier ~/.ollama (monté en volume dans le container)
OLLAMA_MODELS_PATH=/home/[votre nom d'utilisateur LINUX]/.ollama
# si vous êtes sur PC, 
# OLLAMA_MODELS_PATH=C:\Users\[votre nom d'utilisateur WINDOWS]\.ollama